<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listado de Pruebas</title>
</head>
<body>
    <h1>Pruebas 2022</h1>

    <ul>
        {% for curso in object_list %}
         <li>
             <p>Nombre: {{prueba.marca}}</p>
             <p>
                
                <a href="{%url 'prueba_detail' prueba.marca%}">Detalle</a>
                <a href="{%url 'prueba_update' prueba.marca%}">Actualizar</a>
                <a href="{%url 'prueba_delete' prueba.marca%}">Borrar</a>

             </p>

            </li>
        {% endfor %}
    </ul>

    <p>
        <a href="{% url 'pruebas_create' %}"></a>

    </p>
    
</body>
</html>