{% extends 'motoapp/base.html' %}

{% block main_content %}

<div class="container mt-5">
    <table class="table">

        <thead>
            <tr>
                <th>Marca</th>
                <th>Modelo</th>
                <th>Calificacion</th>
            </tr>
        </thead>

        <tbody>
            {% for pruebas in pruebas %}
                <tr>
                <td>{{pruebas.marca}}</td>
                <td>{{pruebas.modelo}}</td>
                <td>{{pruebas.calificacion}}</td>
                </tr>
            {% endfor %}
        </tbody>


    </table>
</div>
{% endblock main_content %}