{% extends 'motoapp/base.html' %}

{% block main_content %}

<div class="container mt-5">
    <table class="table">

        <thead>
            <tr>
                <th class="table-success">Marca</th>
                <th class="table-success">Modelo</th>
                <th class="table-success">Calificacion</th>
                <th class="table-success">Accion</th>
            </tr>
        </thead>

        <tbody>
            {% for pruebas in pruebas %}
                <tr>
                <td>{{pruebas.marca}}</td>
                <td>{{pruebas.modelo}}</td>
                <td>{{pruebas.calificacion}}</td>
                <td>
                    <a href="{% url 'eliminarPrueba' pruebas.marca%}">Borrar</a>

                </td>
                </tr>
            {% endfor %}
        </tbody>


    </table>
</div>
{% endblock main_content %}