<nav class="navbar navbar-light bg-light static-top">
    <div class="container">
        <a class="navbar-brand" href="{% url 'Inicio' %}">INICIO</a>
        <a class="navbar-brand" href="{% url 'Pruebas' %}">PRUEBAS</a>
        <a class="navbar-brand" href="{% url 'Lanzamientos' %}">LANZAMIENTOS</a>
        <a class="navbar-brand" href="{% url 'Mercado' %}">MERCADO</a>
        <a class="navbar-brand" href="{% url 'Formulario' %}">CARGAR PRUEBAS</a>
        <a class="navbar-brand" href="{% url 'buscarpruebas' %}">BUSCAR PRUEBAS</a>

        {% if not request.user.is_authenticated %}
        <a class="btn btn-primary" href="{% url 'Login' %}">Login</a>
        {% else %}
             <p class="text-muted small mb-4"> {{request.user.username}}

            {% endif %}    
                       
        <a class="btn btn-primary" href="{% url 'logout' %}">Logout</a>
        <a class="btn btn-primary" href="{% url 'register' %}">Register</a>
    </div>
</nav>