<nav class="navbar navbar-light bg-light static-top">
    <div class="container">
        <a class="navbar-brand" href="{% url 'Inicio' %}">Inicio</a>
        <a class="navbar-brand" href="{% url 'Pruebas' %}">Pruebas</a>
        <a class="navbar-brand" href="{% url 'Lanzamientos' %}">Lanzamientos</a>
        <a class="navbar-brand" href="{% url 'Mercado' %}">Mercado</a>
        <a class="navbar-brand" href="{% url 'Formulario' %}">Cargar Lanzamientos</a>
        <a class="navbar-brand" href="{% url 'BusquedaLanzamiento' %}">Busqueda Lanzamientos</a>
        <a class="btn btn-primary" href="#signup">Login</a>
    </div>
</nav>